@media only screen and (max-width: 725px) {
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    overflow: auto;
    padding: 1.8rem 1.2rem;
  }

  .header {
    height: 150px;
  }

  .header__user {
    display: flex;
    justify-content: center;
    height: 65%;
  }

  .header__user-img {
    max-width: 100px;
    width: auto;
    height: 100%;
    margin-right: 1rem;
  }

  .header__user-info {
    align-self: center;
  }

  .header__user-name {
    font-size: 1.2rem;
  }

  nav {
    height: 35%;
  }

  nav .header__nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .tile {
    height: 150px;
    margin-bottom: 1rem;
  }

  .tile__title-row {
    margin-bottom: 0.5rem;
  }

  .tile__time-row {
    display: flex;
    justify-content: space-between;
  }

  .tile__time {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .tile__time-last {
    align-self: center;
  }

  .tile__border--work {
    background: url("../../images/icon-work.svg") no-repeat top 40% right 5%;
    background-size: 10%;
    height: 20%;
  }

  .tile__border--play {
    background: url("../../images/icon-play.svg") no-repeat top 40% right 5%;
    background-size: 10%;
    height: 20%;
  }

  .tile__border--study {
    background: url("../../images/icon-study.svg") no-repeat top 40% right 5%;
    background-size: 10%;
    height: 20%;
  }

  .tile__border--exercise {
    background: url("../../images/icon-exercise.svg") no-repeat top 40% right 5%;
    background-size: 10%;
    height: 20%;
  }

  .tile__border--social {
    background: url("../../images/icon-social.svg") no-repeat top 40% right 5%;
    background-size: 10%;
    height: 20%;
  }

  .tile__border--selfcare {
    background: url("../../images/icon-self-care.svg") no-repeat top 40% right
      5%;
    background-size: 10%;
    height: 20%;
  }
}
